@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Pacifico&display=swap');

body {
    background-color: #dbebff;
    background-image: linear-gradient(to bottom, #dbebff, #89cff0);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  }
  
  .weather-app {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* background-image: url("sunburst.png"); */
    /* background-repeat: no-repeat;
    background-position: center; */
  }
  
  h1 {
    text-align: center;
    color: #337ab7;
    font-family: 'Montserrat', sans-serif;
    text-shadow: none;
  }

  #location-input {
    width: calc(100% - 40px);
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff8dc;
    border-color: #ffcc00;
}

  #weather-display {
    margin-top: 20px;
    padding: 20px;
    background-color: #312222;
    border-radius: 5px;
    background-color: #f0f8ff;
    border: 2px solid #87cefa;
  }

  button {
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #337ab7;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #235a9e;
  }
 
